body{
    font-weight: 700;
    background-image: url(../img/minimalistic-1666706850327-3634.jpg);
    background-size: cover;
}

.consentito, .vinto{
    color: green;
    
}

.negato, .perso{
    color: red;
    
}

.pareggio{
    color: rgb(255, 157, 0);
    
}

